.mb-10 { margin-bottom: 10px!important; }

.mb-20 { margin-bottom: 20px!important; }

.theme {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.message-form {
  position: fixed;
  left: 4px;
  right: 4px;
  bottom: 4px;
  padding: 10px;
  background: #ccc;
}

[type="text"],
.message-text {
  padding: 0!important;
  border: 0 none;
  outline: 0 none;
}

fieldset {
  border-radius: 0;
}

.message-text {
  flex-grow: 1;
  background: #fff;
  outline: 0 none;

  .MuiInput-formControl {
    font-size: 14px;
    padding-bottom: 3px;
  }

  label {
    font-size: 14px;

    &.MuiInputLabel-formControl {
      transform: translate(0, 15px) !important;

      &.MuiInputLabel-shrink {
        transform: translate(0, 1.5px) scale(0.75)!important;
      }
    }
  }
}

button {
  background: green;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  border: 0 none;
  outline: 0 none;
}

.message-form {
  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .message-button {
      flex-basis: 100px;
    }
  }

}


.messages {
  height: calc(100vh - 104px);
  overflow-y: auto;
  padding: 4px;
  position: relative;

  .leave-button {
    position: absolute;
    top: 18px;
    right: 6px;
  }

  img {
    max-width: 30px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ccc;
    padding: 2px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      padding: 4px 0;

      &.left {
        text-align: left;

        img {
          margin-right: 4px;
        }

        span {
          background: red;
          color: #fff;

          &:last-child {
            background: none;
            color: #000;
            font-size: 12px;
          }
        }
      }
      
      &.right {
        text-align: right;

        img {
          margin-left: 4px;
        }
        
        span:first-child {
          background: none;
          font-size: 12px;
        }
      }
    }

    span {
      background: lavender;
      border-radius: 100px;
      padding: 4px 10px;
      display: inline-block;
      vertical-align: middle;
    }
  }
    
}

.message-typing-info {
  padding: 4px;
  font-style: italic;
  font-weight: 700;
}

.form-control {
  position: fixed!important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  font-size: 20px;

  .room-label {
    font-size: 18px;
    transform: translate(0, 19px) scale(1)!important;

    &.MuiInputLabel-shrink {
      transform: translate(0, 1.5px) scale(0.75)!important;
    }
  }
}

.flex-2-columns {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 175px);

  .users-list {
    flex-basis: 30%;
    height: 100%;
    overflow-y: auto;
    background: #ddd;
    padding: 10px;

    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 6px;
      border-color: #988e8e;
    }

    strong,
    span {
      display: inline-block;
      vertical-align: middle;
    }

    span {
      background: none;
      padding: 0;
      margin-left: 6px;
    }
  }
  
  .messages-content {
    flex-grow: 1;
    height: 100%;
    padding-left: 20px;
    overflow-y: auto;
  }
}

#outlined-message {
  padding-top: 6px!important;
  padding-bottom: 6px!important;
}

.MuiInputLabel-formControl {
  transform: translate(0, 6px)!important;
  text-indent: 10px;
}

.MuiInputLabel-shrink {
  transform: translate(0, 1.5px) scale(0.75)!important;
}

label + .MuiInput-formControl {
  padding: 0 10px;
}

/* EMOJI PICKER STYLES */
.emoji-mart {
  position: fixed!important;
  bottom:4px!important;
  left: 4px!important;
  background-color: #fff!important;
  z-index: 2000;
}

.emoji_click_button {
  max-width: 40px;
  padding: 0 6px;
  cursor: pointer;
}

.toggle-theme-chat {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

//overrides white theming
.dark-theme {
  background: #282A36;

  .toggle-theme-chat,
  #outlined-nickname {
    color: #fff!important;
  }

  .form-control .room-label,
  .MuiInputBase-inputSelect,
  .messages h3,
  .messages ul li.right span:first-child,
  .messages ul li.left span:last-child {
    color: #fff;
  }

  .MuiInput-underline:before {
    border-bottom: 1px solid #fff;
  }

  .MuiSelect-icon { fill: #fff; }

  .nickname-text label { color: #fff; }
}